<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Offices</h1>
      
      <%= link_to 'New Office', new_office_path,
      class: "btn btn-success" %>

      <p id="notice"><%= notice %></p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @offices.each do |office| %>
            <tr>
              <td><%= office.name %></td>
              <td>
                <%= link_to 'Show', office, 
                    class: "btn btn-sm btn-info" %>  
              </td>
              <td>
                <%= link_to 'Edit', edit_office_path(office), 
                    class: "btn btn-sm btn-warning" %>  
              </td>
              <td>
                <%= link_to 'Destroy', office, 
                    method: :delete, data: { confirm: 'Are you sure?' },
                    class: "btn btn-sm btn-danger" %>
                        
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>