<%= form_for(agent) do |f| %>
  <% if agent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agent.errors.count, "error") %> prohibited this agent from being saved:</h2>

      <ul>
      <% agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :office_id %>
    <%= f.collection_select(:office_id, Office.all, :id, :name, 
        { :prompt => 'Select an Office', :selected => agent.office_id }, 
        { class: '' }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
