<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Agents</h1>

      <%= link_to 'New Agent', new_agent_path,
          class: "btn btn-success" %>

      <p id="notice"><%= notice %></p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Office</th>
            <th>Actions</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @agents.each do |agent| %>
            <tr>
              <td><%= agent.name %></td>
              <td><%= agent.office.name %></td>
              <td>
                <%= link_to 'Show', agent,
                    class: "btn btn-sm btn-info" %>
             </td>
              <td>
                <%= link_to 'Edit', edit_agent_path(agent),
                    class: "btn btn-sm btn-warning" %>
              </td>
              <td>
                <%= link_to 'Destroy', agent, 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' },
                    class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>