<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1>Destinations</h1>

      <%= link_to 'New Destination', new_destination_path,
          class: "btn btn-success" %>

      <p id="notice"><%= notice %></p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @destinations.each do |destination| %>
            <tr>
              <td><%= destination.name %></td>
              <td>
              <%= link_to 'Show', destination,
                  class: "btn btn-sm btn-info" %>
              </td>
              <td>
              <%= link_to 'Edit', edit_destination_path(destination),
                  class: "btn btn-sm btn-warning" %>
              </td>
              <td>
              <%= link_to 'Destroy', destination, 
                  method: :delete, 
                  data: { confirm: 'Are you sure?' },
                  class: "btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>