<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= f.label :agent_id %>
    <%= f.collection_select(:agent_id, @agents, :id, :name,
        { :prompt => 'Select an Agent', :selected => sale.agent_id },
        { class: '' }) %>
  </div>

  <div class="field">
    <%= f.label :destination_id %>
    <%= f.collection_select(:destination_id, @destinations, :id, :name,
        { :prompt => 'Select a Destination', :selected => sale.destination_id },
        { class: '' }) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
